name: Build and Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        goos: [ linux, windows ]
    env:
      GOOS: ${{ matrix.goos }}
      CGO_ENABLED: 0

    steps:
      - name: Check Out
        uses: actions/checkout@v6

      - name: Initialization Environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: sudo -E apt-get -yqq update

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Get Dependencies
        run: go mod download

      - name: Build Xray
        if: matrix.goos != 'windows'
        run: |
          mkdir -p build
          go build -o build/xray -trimpath -buildvcs=false -ldflags="-s -w -buildid=" -v ./main

      - name: Build Xray for Windows
        if: matrix.goos == 'windows'
        run: |
          mkdir -p build
          go build -o build/xray.exe -trimpath -buildvcs=false -ldflags="-s -w -buildid=" -v ./main

      - name: Delete old Releases and Workflows
        if: matrix.goos == 'linux'
        uses: ophub/delete-releases-workflows@main
        with:
          delete_releases: true
          releases_keep_latest: 0
          delete_tags: true
          delete_workflows: true
          workflows_keep_day: 1
          gh_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: Xray-${{ matrix.goos }}
          path: build/

      - name: Zip
        if: matrix.goos == 'linux'
        run: |
          cd ./build
          zip -r Xray-${{ matrix.goos }}.zip .

      - name: Release Firmware
        if: matrix.goos == 'linux'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: Xray-${{ matrix.goos }}
          files: build/Xray-${{ matrix.goos }}.zip
