name: Update

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Check Out
        uses: actions/checkout@v6

      - name: Initialization Environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: sudo -E apt-get -yqq update

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Prepare
        run: |
          mkdir -p dist
          rm -rf .github/dependabot.yml
          rm -rf .github/workflows/docker.yml
          rm -rf .github/workflows/release-win7.yml
          rm -rf .github/workflows/scheduled-assets-update.yml
          find -name 'go.mod' | xargs -r perl -pi -e 's|/xtls/xray-core|/luoluodaduan/xray-core|g'
          find -name '*.go' | xargs -r perl -pi -e 's|/xtls/xray-core|/luoluodaduan/xray-core|g'
          find -name '*.proto' | xargs -r perl -pi -e 's|/xtls/xray-core|/luoluodaduan/xray-core|g'

      - name: Update
        run: |
          wget https://github.com/protocolbuffers/protobuf/releases/download/v33.5/protoc-33.5-linux-x86_64.zip -O protoc.zip
          unzip -d dist protoc.zip
          sudo -E mv -f ./dist/bin/protoc /usr/local/bin
          sudo -E mv -f ./dist/include/* /usr/local/include
          protoc --version
          rm -rf dist
          rm -rf protoc.zip
          go install mvdan.cc/gofumpt@latest
          go install github.com/daixiang0/gci@latest
          go run ./infra/vformat
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.36.11
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.6.0
          go run ./infra/vprotogen
          find -name '*.pb.go' | xargs gci write -s standard -s default
          go mod tidy

      - name: Commit Files
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "Update"

      - name: Push Changes
        uses: ad-m/github-push-action@master
        with:
          branch: ${{ github.ref }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
